/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
body {
    font-family: 'Roboto', serif;
}

#img-top-background{
    background: url("../images/background-top-lines.png");
    height: 136px;
    width: 100%;
}


@media screen and (max-width: 480px){
    #img-top-background > img{
        top: 10px;
    }
}
@media screen and (min-width : 481px) and (max-width: 603px){
    #img-top-background > img{
        top: -10px;
    }
}
@media screen and (min-width : 604px) and (max-width:734px){
    #img-top-background > img{
        top: -40px;
    }
}
@media screen and (min-width : 735px) and (max-width: 991px){
    #img-top-background > img{
        top: -80px;
    }
}
@media only screen and (min-width : 992px){
    #img-top-background > img{
        top: -100px;
    }
}
@media only screen and (min-width : 1200px){
    #img-top-background > img{
        top: -120px;
    }
}

#img-bottom-background{
    background: url("../images/background-bottom-lines.png");
    top: -185px;
    height: 280px;
    width: 100%;
    position: relative;
    z-index: -1;
}
#img-bottom-background > img{
    width: 100%;
}

h1{
    text-align: center;
    top: 26px;
}
h3{
    margin: 0;
    color: white
}

.container{
    position: relative;
    top: -20px;
    width: 100%;
}
.row {
/*    background-color: white;*/
    padding: 20px 0 20px 0;
}



.row > div{
    padding: 0 15px;
}

.btn{
    padding: 6px 35px;
    border-radius: 0;
    border: none;
}

.row > div > h2, p{
    text-align: center;
}

.kids{
    background-color: #10A67D;
    color: white;
    font-weight: bold;
}

.school{
    background-color: #348192;
    color: white;
    font-weight: bold;
}

.software{
    background-color: #5CE500;
    color: white;
    font-weight: bold;
}

.algo{
    background-color: #1E4B6A;
    color: white;
    font-weight: bold;
}

.digital{
    background-color: #786186;
    color: white;
    font-weight: bold;
}

.seminars{
    background-color: #588AAD;
    color: white;
    font-weight: bold;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
/*  Navigation Section */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: silver;  /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{
    color: silver;
    background-color: #404040;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #606060;
}
.navbar-brand{
    padding: 0;
}
.navbar-brand > img{
    height: 60px;
    width: 174px;
}
.navbar-default {
    background-color: #404040;
    border-color: #030033;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #404040; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}
.glyphicon{
    color: white;
    font-size: 28px;
    padding-top: 15px;
}

/* Footer */
#foother{
    padding: 30px;
    background-color: #2A2D33;
    color: white;
    position: relative;
    top: -185px;
    height: 520px;
}

#foother > .row > div > p{
    font-size: 13px;
    text-align: left;
    padding-left: 7px;
    margin-bottom: 0;
}


/* Contacts and Social Networks */
.contactLabel{
    font-size: 1.2em;
}

.contact{
    display: inline-block;
    position: relative;
    top: -15px;
    margin: 0 10px;
    text-align: center;
    font-size: 1em;
}
.contact > i{
    margin-bottom: 15px;
}

.img-circle {
    display: inline-block;
    float: right;
    margin-right: 10px;
    background-color: white;
    height: 30px;
    width: 30px;
}
.img-circle > i{
    padding-top: 9px;
    text-align: center;
    color: #2A2D33;
    font-weight: bold;
}
.fa-facebook, .fa-linkedin{
    padding-left: 8px;
}
.fa-google-plus{
    padding-left: 4px;
}
.fa-youtube{
    padding-left: 6px;
}
.fa-twitter{
    padding-left: 7px;
}
#lastRow{
    padding-top: 0;
}
#logoProgress{
    position: relative;
    top: -13px;
    left: 60px;
    width: 50%;
}

#author{
    float: right;
}

/* Search Button */
.sb-search {
    position: relative;
    width: 0;
    min-width: 50px;
    height: 50px;
    float: right;
    overflow: hidden;

    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    transition: width 0.4s;

    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 40%;
    height: 40px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 16px;
    color: #2c3e50;
}

input[type="search"].sb-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.sb-search-input::-webkit-input-placeholder {
    color: #efb480;
}

.sb-search-input:-moz-placeholder {
    color: #efb480;
}

.sb-search-input::-moz-placeholder {
    color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
    color: #efb480;
}

.sb-icon-search,
.sb-search-submit  {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: #404040;
    z-index: 90;
    font-size: 16px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    content: "\e000";
}


.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #404040;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}