/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff') format('woff'),
    url('../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*  Navigation Section */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: silver;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #606060;
}

.navbar-default {
    background-color: #404040;
    border-color: #030033;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}
/* Search Button */
.sb-search {
    position: relative;
    width: 0;
    min-width: 50px;
    height: 50px;
    float: right;
    overflow: hidden;

    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    transition: width 0.4s;

    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 20%;
    height: 50px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 16px;
    color: #2c3e50;
}

input[type="search"].sb-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.sb-search-input::-webkit-input-placeholder {
    color: #efb480;
}

.sb-search-input:-moz-placeholder {
    color: #efb480;
}

.sb-search-input::-moz-placeholder {
    color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
    color: #efb480;
}

.sb-icon-search,
.sb-search-submit  {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: #404040;
    z-index: 90;
    font-size: 16px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    content: "\e000";
}


.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #404040;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}

/*____________________*/
/* Some initial styling */

form {
    position: relative;
}

/* Ok, HTML markup is complete */
/* submit button will also be the same but with a different color. We'll style the label and the submit input */
/* a faky 3D look */

#submit {
    display: none;
}

form .icon, form .submit {
    width: 35px;
    height: 35px;
    background: #d75813;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow:
            0 5px #bc490a,
            0 8px 10px rgba(0, 0, 0, 0.5);
}

form .submit {
    background: #009bff;
    cursor: pointer;
    box-shadow:
            0 5px #0276c1,
            0 8px 10px rgba(0, 0, 0, 0.5);
}

/* Now, we'll create a search (magnifying glass) icon using pseudo elements */
form .icon:after, form .submit:after  {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid white;
    border-radius: 50%;
    left: 10px;
    top: 9px;
}

form .icon:before, form .submit:before {
    content: '';
    position: absolute;
    height: 8px;
    width: 2px;
    background: white;
    transform: rotate(-35deg);
    top: 19px;
    left: 21px;
}

/* Styling the input */
/*
form #search {
    -webkit-appearance: none;
    height: 35px;
    width: 0;
    position: absolute;
    padding: 0;
    opacity: 0;
    border: none;
    outline: none;
    position: absolute;
    right: 35px;
    box-shadow:
            0px 5px #bbb,
            0px 8px 10px rgba(0, 0, 0, 0.5);
}*/
