/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
@font-face {
    font-family: 'Roboto';
    url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
    font-style: normal;
}

#img-background > img{
    width: 100%;
    position: absolute;
    left: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: -1;
}

@media screen and (max-width: 480px){
    #img-background > img{
        top: 10px;
    }
}
@media screen and (min-width : 481px) and (max-width: 603px){
    #img-background > img{
        top: -10px;
    }
}
@media screen and (min-width : 604px) and (max-width:734px){
    #img-background > img{
        top: -40px;
    }
}
@media screen and (min-width : 735px) and (max-width: 991px){
    #img-background > img{
        top: -80px;
    }
}
@media only screen and (min-width : 992px){
    #img-background > img{
        top: -100px;
    }
}
@media only screen and (min-width : 1200px){
    #img-background > img{
        top: -120px;
    }
}

.container{
    position: relative;
    left: 0;
    top: 110px;
    width: 100%;
}
.row {
    background-color: white;
    padding: 20px 0 20px 0;
}

.row > div{
    padding: 0 15px;
}

.btn{
    padding: 5px 35px;
    border-radius: 0;
    border: none;
}

.row > div > h2, p{
    text-align: center;
}

.lbl-kids{
    color: #10A67D;
}
.kids{
    background-color: #10A67D;
    color: white;
    font-weight: bold;
}

.lbl-school{
    color: #348192;
}
.school{
    background-color: #348192;
    color: white;
    font-weight: bold;
}

.lbl-software{
    color: #5CE500;
}
.software{
    background-color: #5CE500;
    color: white;
    font-weight: bold;
}

.lbl-algo{
    color: #1E4B6A;
}
.algo{
    background-color: #1E4B6A;
    color: white;
    font-weight: bold;
}

.lbl-digital{
    color: #786186;
}
.digital{
    background-color: #786186;
    color: white;
    font-weight: bold;
}

.lbl-seminars{
    color: #588AAD;
}
.seminars{
    background-color: #588AAD;
    color: white;
    font-weight: bold;
}

.navbar {
    border-radius: 0;
}
/*  Navigation Section */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: silver;  /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{
    color: silver;
    background-color: #404040;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #606060;
}
.navbar-brand{
    padding: 0;
}
.navbar-brand > img{
    height: 60px;
    width: 174px;
}
.navbar-default {
    background-color: #404040;
    border-color: #030033;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #404040; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

/* Search Button */
.sb-search {
    position: relative;
    width: 0;
    min-width: 50px;
    height: 50px;
    float: right;
    overflow: hidden;

    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    transition: width 0.4s;

    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 40%;
    height: 40px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 16px;
    color: #2c3e50;
}

input[type="search"].sb-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.sb-search-input::-webkit-input-placeholder {
    color: #efb480;
}

.sb-search-input:-moz-placeholder {
    color: #efb480;
}

.sb-search-input::-moz-placeholder {
    color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
    color: #efb480;
}

.sb-icon-search,
.sb-search-submit  {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: #404040;
    z-index: 90;
    font-size: 16px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    content: "\e000";
}


.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #404040;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}
